
nav {
	margin-top: 1.2em;
    margin-bottom: 0;
	padding: 0.5em 0;
    color: $text-color;
    text-align: center;
    border-top: 1px solid $text-color;
    border-bottom: 1px solid $text-color;
}

nav a {
    display: inline-block;
    color: $text-color;
    text-decoration: none;
    font-weight: bold;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    font-size: 18px;
}

nav a:hover {
    text-decoration: underline;
    text-underline-offset: 3px;
}

nav a::after {
    content: none;
}

nav ul {
	display: table;
	margin: auto;
    padding: 0;
}

nav li {
	list-style-type: none;
	display: inline-block;
	font-size: 18px;
    padding: 0;
    margin: 0;
}

nav li + li:before {
    content: "/";
    padding: 12px;
    font-weight: normal;
}

@media only screen and (max-width: 600px) {

    nav {
        padding: 0.8em;
    }

    nav li {
        padding: 6px 0;
        display: block;
    }

    nav li + li:before {
        content: "";
        padding: 0;
    }

}
